
<li class="globaltoc-container">
<div class="btn-group navbar-btn">
  <button type="submit" class="btn btn-default" type="submit" onclick="location.href = '{{ pathto(master_doc) }}';">{{ theme_navbar_site_name }} </button>
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu globaltoc"
      role="menu"
      aria-labelledby="dLabelGlobalToc">{{ toctree(maxdepth=theme_globaltoc_depth|toint, collapse=False, includehidden=theme_globaltoc_includehidden|tobool) }}</ul>
</div>
  
</li>


