<div class="collapse navbar-collapse nav-collapse">
          <ul class="nav navbar-nav">
		  {% block navbartoc %}
              {% include "globaltoc.html" %}
            {% endblock %}
            {% if theme_navbar_links %}
              {%- for link in theme_navbar_links %}
                <li><a href="{{ pathto(*link[1:]) }}">{{ link[0] }}</a></li>
              {%- endfor %}
            {% endif %}
						
            {% block navbarextra %}
            {% endblock %}
            {% if theme_source_link_position == "nav" %}
              <li class="hidden-sm">{% include "sourcelink.html" %}</li>
            {% endif %}
          </ul>

          {% block navbarsearch %}
            {% include "navbarsearchbox.html" %}
          {% endblock %}
        </div>
