.jumbotron p{
font-size: 18px;
}
.jumbotron ul{
font-size: 18px;
}

.lead-sm{
font-size: 18px;
}

.lead-sm ul{
font-size: 18px;
}

.featurette-divider {
  margin: 80px 0; /* <hr> between each */
}
 .featurette {
  padding-top: 120px;
  overflow: hidden; /* Clear floats */
}
 .featurette-image {
  margin-top: −120px; /* Vertically center image with the text */
}
 .featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}
 .featurette-image.pull-left {
  margin-right: 40px;
}
 .featurette-image.pull-right {
  margin-left: 40px;
}

.btn {
padding-top: 20px;
padding-bottom: 20px;
}

.btn-default {
color: #98978b;
}