body {
    min-height: 100% !important;
    height: 100%;
    margin: 0;
    padding: 0;
   
}

html {
    height: 100%;
    min-height: 100% !important;
}

.not-focusable:focus {
    outline: none;
    box-shadow: none;
}






